.framed-video-component{
    text-align:center;
    width:400px;
    height:600px;
    //background-color: white;
    .framed-video-inner{
        position:absolute;
        z-index: 1;
        //background-color: white;
       // background:white;
    }
    .framed-video-overlay{
        height: auto; 
        margin:0;
        width: auto; 
    	position:absolute;
        z-index: 2;
        max-width:351px;
        pointer-events:none;
        text-align:center;
        

    }
    /*
    video::-webkit-media-controls {
        display: none;
    }
    */
    
    
    
}